{% extends "site_base.html" %}
{% load staticfiles %}
{% block content %}
<article class="twelve columns" id="stage">
<pre><!-- TODO: HACK MUST FIX THIS -->
</pre>       <canvas  id="cnv" width="460" height="400"></canvas>
</article>
<script src="../static/js/js.js"></script>

<section id="iC0ode">
<div class="container">
 <div class="row">
     <div class="one-half column" style="margin-top: 5%">

    <h4>Simple Creativity</h4>
    <p>Simple is harder than complex, complex better than complicated. 
    Getting from complex to Simple demands Skills, Discipline and Creativity
    </p>

    <strong>Discipline:</strong>
    <blockquote>It always takes longer than you expect, even when you take into 
    account Hofstadter's Law. 
    <cite>Hofstadter's Law</cite> 
    </blockquote>

    <p>        <strong>Skill:</strong> 
        <br/>An MVP is not a Demo! 
        <blockquote>An MVP is not just a product with half of the features chopped out, 
        or a way to get the product out the door a little earlier. 
        In fact, the MVP doesn’t have to be a product at all. 
        And it’s not something you build only once, and then consider the job done.
        <cite><a href="http://www.themacro.com/articles/2016/01/minimum-viable-product-process/">
        minimum-viable-product-process by Yevgeniy (Jim) Brikman</a></cite>
        </blockquote></p>

    

    <p>
    <strong><a id="iWrite">Creativity:</a></strong>
    </p>
</div> <!-- end left side -->
<div class="one-half column" style="margin-top: 5%">
    <h4>Creative Simplicity</h4>
    <p>An MVP is an Iterative POC (Proof of Concept) iPoC
        <br/>
        Many <em>POC</em>s makes a Bang!
        <br/>
        For each <em>POC</em>s, you must <em>FOC</em> it!
        <ul>
           <li>Filter (pareto, ...)</li>
           <li>Order (break down (top-Down), Prioritize,)</li>
           <li>COoDE (Creative Output of Digital Expression)</li>
        </ul>
    </p>

    <p>
    It stresses Making Verses Planning (MVP) by Planning the Making then letting the
    Creative Output of Digital Expression takeover.
        <ul>
            <li>Magnitude</li>
            <li>Velocity</li>
            <li>Precision</li>
        </ul>
    </p>
</div><!-- end right side -->
</div><!-- end row -->
</div><!-- end container -->
</section><!-- end iC0ode -->

<section id="iWrite"><a href="#iWrit"></a>
<div class="container"> 
<div class="row"><h3>iWrite</h3>
</div><!-- end row -->
</div><!-- end container -->
</section><!-- end iWrite -->
{% endblock content %}
